
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <h1 class="text-center">Bienvenidos a la página web de Obra Social</h1>
    <h3 class="text-center">Para continuar por favor utilice los enlaces de abajo</h3>
    <div> 
        <a class="h5" href="~/Vista/AltaMedico.aspx">Suscripción de Médico</a>
        <a class="h5" href="~/Vista/ConsultarMedico.aspx">Listado de Médico</a>
    </div>
</body>
</html>
